:root {
	--input-font: "Roboto Mono", monospace;
	--text-font: Roboto, sans-serif;

	--foreground-major: #ffffff;
	--foreground-minor: #646cbd;
	--background-bad: #391111;
	--background-major: #292929;
	--background-minor: #353841;

	--bg-highlight-even: rgb(17, 51, 120);
	--bg-highlight-odd: rgb(30, 71, 153);
	--table-split: #ff162c;
}

.noselect {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.scrollbar {
	--scrollbar-color-thumb: var(--foreground-minor);
    --scrollbar-color-track: var(--background-minor);
	scrollbar-color: var(--foreground-minor) var(--background-minor);
	
}

.scrollbar::-webkit-scrollbar-thumb {
	background: var(--foreground-minor);
}

.scrollbar::-webkit-scrollbar-track {
	background: var(--background-minor);
}


.template {
	display: none !important;
}

body {
	font-family: var(--text-font);
	font-size: 20px;

	color: var(--foreground-major);
	background-color: var(--background-major);

	padding: 0;
	margin: 0;
}

input {
	font-family: var(--input-font);
	font-size: 24px;

	color: var(--foreground-major);
	background-color: var(--background-minor);

	border: none;
	border-radius: 4px;

	transition: background-color 0.2s ease-in-out;
}


input:focus {
	outline-style: solid;
	outline-width: 2px;
	outline-color: var(--foreground-minor);
}

input.bad {
	background-color: var(--background-bad);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.msglen_layout {
	padding: 0;
	margin: 0;

	width: 100vw;
	height: 100vh;

	display: flex;
	flex-flow: row;
}

#probs_box {
	display: flex;
	flex-flow: column;
	justify-content: start;
	align-items: center;

	gap: 5px;
	padding-top: 10px;

	width: 280px;

	height: 100vh;
	overflow-y: scroll;
	flex-shrink: 0;

	box-sizing: border-box;
}

.prob_entry_width {
	width: 220px;
}

.prob_entry {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-evenly;

	gap: 15px;
	
	border: solid;
	border-width: 1px;
	border-color: var(--background-minor);
	border-radius: 5px;

	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.prob_name {
	display: flex;
	flex-flow: row;
	align-items: end;

	width: fit-content;
}

.prob_op {
	font-size: 26px;
}

.prob_var {
	font-size: 26px;
}

.prob_index {
	font-size: 14px;
}

.prob_input {
	width: 100px;
	height: 40px;
}

.prob_edit_icon {
	width: 30px;
	height: 30px;
}

.remove_prob_button {
	opacity: 0.4;
	transition: opacity 0.2s ease-in-out;
}


.remove_prob_button:hover {
	cursor: pointer;
	opacity: 0.7;
}

.remove_prob_button:active {
	cursor: pointer;
	opacity: 1;
}

.add_prob_button {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;

	gap: 15px;
	
	border: solid;
	border-width: 1px;
	border-color: var(--background-minor);
	border-radius: 5px;

	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;

	transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}


.add_prob_button .prob_edit_icon, .add_prob_button .add_prob_button_text {
	opacity: 0.5;
	transition: opacity 0.1s ease-in-out;
}

.add_prob_button:hover .prob_edit_icon, .add_prob_button:hover .add_prob_button_text {
	opacity: 0.8;
}

.add_prob_button:active .prob_edit_icon, .add_prob_button:active .add_prob_button_text {
	opacity: 1;
}

.add_prob_button:hover {
	border-color: var(--foreground-major);
	cursor: pointer;
}

.add_prob_button:active {
	border-color: var(--foreground-minor);
	background-color: #646cbd;
}

.error_msg {
	background-color: var(--background-bad);
}

.msglen_workspace {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	position: relative;

	overflow-y: scroll;
}


.workspace_loading {
	width: 100%;
	height: 100%;

	margin: 0px;
	padding: 0px;

	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
}

.workspace_loading_bg {
	background-color: var(--background-major);
	opacity: 0.9;

	position: absolute;
	width: 100%;
	height: 100%;

}

.workspace_spinner {
	width: 100px;
	height: 100px;
	z-index: 100;
}

.workspace_indexed_var {
	display: inline-flex;
	flex-flow: row;
	align-items: end;

	width: fit-content;
}

.ws_var {
	font-size: 22px;
}

.ws_index {
	font-size: 10px;
}

.workspace_space {
	width: 100%;
	padding: 10px;

	box-sizing: border-box;

	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	gap: 1px;
}

.workspace_table {
	display: inline-flex;
	flex-flow: row;

	margin: 5px;
	box-sizing: border-box;
}

.workspace_table.spacer {
	margin-top: 29px;
}

.workspace_table_group {
	display: inline-flex;
	flex-flow: column;

	justify-content: start;
	align-items: start;
	margin: 5px;
	box-sizing: border-box;
}


.workspace_table .table_title {
	font-family: var(--input-font);
	font-size: 14px;
	writing-mode: vertical-lr; /* Chrome */
	writing-mode: sideways-lr;
	text-align: right;
	margin-right: 4px;

	flex-shrink: 0;
	flex-grow: 0;
}

.workspace_table_group_title {
	font-family: var(--input-font);
	font-size: 14px;
	text-align: right;
	margin-right: 4px;
	align-self: center;
}

.workspace_table_table {
	width: fit-content;
	height: fit-content;
	flex-shrink: 0;
	flex-grow: 0;
}

.workspace_table_table, .workspace_table_table tr, .workspace_table_table td, .workspace_table_table th {
	font-family: var(--input-font);
	border: solid;
	border-width: 2px;
	border-color: var(--foreground-major);
	border-collapse: collapse;

	flex-shrink: 0;
	flex-grow: 0;
}

.workspace_table_table th {
	background-color: var(--foreground-minor);
	padding: 6px;

	min-width: 50px;
	font-weight: normal;
}

.workspace_table_table td {
	padding: 6px;
	min-width: 50px;
	text-align: center;

	transition: backdrop-filter 0.2s ease-in-out;
}

.workspace_table_table tr:nth-child(even) {
	background-color: var(--background-major);
}

.workspace_table_table tr:nth-child(odd) {
	background-color: var(--background-minor);
}

.workspace_table_table tr.highlighted:nth-child(even) {
	background-color: var(--bg-highlight-even);
}

.workspace_table_table tr.highlighted:nth-child(odd) {
	background-color: var(--bg-highlight-odd);
}

.workspace_table_table tr.separator_after td, .workspace_table_table tr.separator_after th {
	border-bottom: solid 4px var(--table-split);
}

.workspace_table_table tr:hover td {
	backdrop-filter: brightness(1.2);
}

#show_messages_button {
	display: none;
	position: fixed;
	bottom: 20px;
	left: 20px;

	height: 80px;
	width: 80px;

	border-radius: 50px;
	background-color: var(--background-major);
	box-shadow: black 0 2px 10px;

	transition: background-color 0.1s ease-in-out,
				box-shadow 0.1s ease-in-out;
}

.show_messages_button_icon {
	width: 100%;
	height: 100%;
}

#show_messages_button:active {
	box-shadow: black 0 1px 5px;
	background-color: var(--foreground-minor);
}

@media only screen and (max-width: 600px) {
	/* .msglen_layout {

	} */

	body {
		font-size: 28px;
	}

	#probs_box {
		width: 100vw;
	}

	.prob_entry_width {
		width: 90%;
		min-height: 60px;
	}

	input {
		min-height: 50px;
		min-width: 150px;
		font-size: 36px;
	}

	#probs_box_padder {
		height: 250px;
		flex-shrink: 0;
	}
	
	.prob_edit_icon {
		width: 56px;
		height: 56px;
	}

	#show_messages_button.shown {
		display: block;
	}

	.mobile_out_of_focus {
		display: none !important;
	}

	.workspace_table {
		min-width: 100%;
	}

	.workspace_table .table_title {
		font-size: 19px;
	}

	.workspace_table_table {
		flex-grow: 1;
	}
	
	.workspace_table_group {
		justify-content: center;
		align-items: center;
		margin: 0px;
		min-width: 100%;

		margin-top: 25px;
		margin-bottom: 25px;
	}

	.workspace_table_group_title {
		font-size: 22px;
	}

	.workspace_space {
		justify-content: center;
		padding-bottom: 20vh;
	}

	.ws_var {
		font-size: 29px;
	}

	.ws_index {
		font-size: 11px;
	}

	.remove_prob_button {
		border: solid;
		border-color: white;
		border-radius: 14px;
		border-width: 3px;
	}
}
